# SPDX-FileCopyrightText: 2021 - 2024
# - Kotyba Alhaj Taha <kotyba.alhaj-taha@ufz.de>
# - Marc Hanisch <marc.hanisch@gfz-potsdam.de>
# - Florian Obersteiner <florian.obersteiner@kit.edu>
# - Helmholtz Centre for Environmental Research GmbH - UFZ (UFZ, https://www.ufz.de)
# - Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences (GFZ, https://www.gfz-potsdam.de)
# - Karlsruhe Institute of Technology (KIT, https://www.kit.edu/)
#
# SPDX-License-Identifier: EUPL-1.2

/.idea/
/docker/env.dev
/docker/backend.dev
/docker/cv.dev
/sql/preset-development-and-test-data.sql

/docker/deployment/ufz/**/Chart.lock
/docker/deployment/ufz/**/*tgz

# Vim swap files
.*.swp
.*.swo

# Zed db
.ropeproject/

# MQTT certificate material
/mq/certs/

# env files
.env
.env.dev
