[submodule "backend"]
	path = backend
	url = git@gitlab.hzdr.de:hub-terra/sms/backend.git
[submodule "frontend"]
	path = frontend
	url = git@gitlab.hzdr.de:hub-terra/sms/frontend.git
[submodule "sms-cv"]
	path = sms-cv
	url = git@gitlab.hzdr.de:hub-terra/sms/sms-cv.git
