# Minio
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=minio123

# Set it to False if you are using self signed certificate.
MINIO_SECURE= False

# this name should be identical to the one on the createbuckets container
MINIO_BUCKET_NAME=sms-attachments

# Upload url: docker container name
MINIO_ENDPOINT=minio:9000

# Hostname
# in this example the local host name is changed to "localhost.localdomain"
# vim /etc/hosts
# 127.0.0.1       localhost.localdomain
DOWNLOAD_ENDPOINT=https://localhost.localdomain