# SPDX-FileCopyrightText: 2021 - 2024
# - Kotyba Alhaj Taha <kotyba.alhaj-taha@ufz.de>
# - Nils Brinckmann <nils.brinckmann@gfz-potsdam.de>
# - Dirk Ecker <d.ecker@fz-juelich.de>
# - Tobias Kuhnert <tobias.kuhnert@ufz.de>
# - Forschungszentrum Jülich GmbH (FZJ, https://fz-juelich.de)
# - Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences (GFZ, https://www.gfz-potsdam.de)
# - Helmholtz Centre for Environmental Research GmbH - UFZ (UFZ, https://www.ufz.de)
#
# SPDX-License-Identifier: EUPL-1.2

#################
##### MINIO #####
#################
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=minio123

# Set it to False if you are using self signed certificate.
MINIO_SECURE= False

# this name should be identical to the one on the createbuckets container
MINIO_BUCKET_NAME=sms-attachments

# Upload url: docker container name
MINIO_ENDPOINT=minio:9000

# Hostname
# in this example the local host name is changed to "localhost.localdomain"
# vim /etc/hosts
# 127.0.0.1       localhost.localdomain
DOWNLOAD_ENDPOINT=https://localhost.localdomain


###########################
### Frontend & Backend ####
###########################
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
ALLOWED_MIME_TYPES=application/x-abiword,application/x-freearc,application/vnd.amazon.ebook,image/bmp,application/x-bzip,application/x-bzip2,text/csv,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/epub+zip,application/gzip,image/gif,text/html,image/vnd.microsoft.icon,text/calendar,image/jpeg,application/json,application/ld+json,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,application/vnd.oasis.opendocument.text,image/png,application/pdf,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.rar,application/rtf,image/svg+xml,application/x-tar,image/tiff,image/tiff,text/plain,image/webp,application/xhtml+xml,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/xml,application/vnd.mozilla.xul+xml,application/zip,application/x-7z-compressed

#################
### Frontend ####
#################

BASE_URL=/
STAY_WITH_HTTP="true"
NUXT_ENV_PID_BASE_URL=https://hdl.handle.net

## Frontend UFZ

NUXT_ENV_SCOPE=openid profile email
SMS_BACKEND_URL=/backend/rdm/svm-api/v1
CV_BACKEND_URL=/cv/api/v1
NUXT_ENV_REDIRECT_URI=https://localhost.localdomain/login-callback
NUXT_ENV_CLIENT_ID=rdmsms-pkce-flow
NUXT_ENV_OIDC_SCHEME="true"
NUXT_ENV_OIDC_RESPONSE_TYPE=code
NUXT_ENV_OIDC_GRANT_TYPE=authorization_code
NUXT_ENV_OIDC_CHALLANGE=S256
INSTITUTE=ufz
NUXT_ENV_OIDC_REFRESH_INTERVAL_TIME=1800000
NUXT_ENV_OIDC_LOGIN_PARAMS={"params": {"prompt": "consent"}}


## Frontend GFZ

# NUXT_ENV_SCOPE=profile openid email eduperson_principal_name
# For the GFZ client ID, check the CI variable GFZ_STAGING_OIDC_CLIENT_IDS on https://gitlab.hzdr.de/hub-terra/sms/backend/-/settings/ci_cd
# and take one of the values
# (the localhost aware one is the on starting with xPKT)
# If you have no access to the CI variables, please ask mhanisch@gfz-potsdam.de, marie.schaeffer@gfz-potsdam.de or nils@gfz-potsdam.de
# NUXT_ENV_CLIENT_ID=xPKT...
# SMS_BACKEND_URL=https://localhost/backend/rdm/svm-api/v1
# CV_BACKEND_URL=https://localhost/cv/api/v1
# NUXT_ENV_REDIRECT_URI=https://localhost/login-callback
# We don't need to set the authority as we can reuse the well known url from backend.
# NUXT_ENV_OIDC_SCHEME=true
# NUXT_ENV_OIDC_REFRESH_TOKEN=refresh_token
# NUXT_ENV_OIDC_REFRESH_EXPIRE=28800
# NUXT_ENV_OIDC_RESPONSE_TYPE=code
# NUXT_ENV_OIDC_GRANT_TYPE=authorization_code
# NUXT_ENV_OIDC_CHALLANGE=S256
# INSTITUTE=gfz
# NUXT_ENV_OIDC_REFRESH_INTERVAL_TIME=1800000

## Frontend FZJ

NUXT_ENV_SCOPE=profile openid email eduperson_principal_name
NUXT_ENV_CLIENT_ID=sms
SMS_BACKEND_URL=https://localhost/backend/rdm/svm-api/v1
CV_BACKEND_URL=https://localhost/cv/api/v1
NUXT_ENV_REDIRECT_URI=https://localhost/login-callback
# We don't need to set the authority as we can reuse the well known url from backend.
NUXT_ENV_OIDC_SCHEME=true
NUXT_ENV_OIDC_REFRESH_TOKEN=refresh_token
NUXT_ENV_OIDC_REFRESH_EXPIRE=28800
NUXT_ENV_OIDC_RESPONSE_TYPE=code
NUXT_ENV_OIDC_GRANT_TYPE=authorization_code
NUXT_ENV_OIDC_CHALLANGE=S256
INSTITUTE=fzj
NUXT_ENV_OIDC_REFRESH_INTERVAL_TIME=1800000
# IDL_SYNC_URL=https://rz-vm64.gfz-potsdam.de:3000/idl/api/hifis/sync-groups

#################
#### Backend ####
#################

FLASK_DEBUG=1
URL_PREFIX=/backend/rdm/svm-api/v1
APP_SETTINGS=project.config.DevelopmentConfig
ELASTICSEARCH_URL=http://elastic-search:9200
DATABASE_URL=postgresql://postgres:postgres@db:5433/db_dev
DATABASE_TEST_URL=postgresql://postgres:postgres@db:5433/db_test
STATIC_URL=/static/backend

# Generate one on https://b2inst-test.gwdg.de/ with your personal profile.
# Maybe you need to switch back to the B2INST_COMMUNITY=EUDAT in order to
# make it work with your personal token.
B2INST_TOKEN=

# Export control
EXPORT_CONTROL_VO_LIST=

# Keycloak
#WELL_KNOWN_URL=http://keycloak:9090/auth/realms/sms/.well-known/openid-configuration

# Token variable holding unique username
# Space separated list of allowed origins for CORS browser feature
HTTP_ORIGINS=https://git.ufz.de http://localhost:5000 http://localhost:3000 http://rdm-test.intranet.ufz.de:5002 https://localhost.localdomain https://localhost

## UFZ
WELL_KNOWN_URL=https://webapp-stage.intranet.ufz.de/idp/oidc/v1/.well-known/openid-configuration
OIDC_USERNAME_CLAIM=sub
CV_URL=https://localhost.localdomain/cv/api/v1
INSTITUTE=ufz
IDL_URL=https://webapp.ufz.de/idl
SMS_IDL_TOKEN=
SMS_FRONTEND_URL=https://localhost.localdomain
PID_SERVICE_URL=http://vm04.pid.gwdg.de:8081/handles/21.T11998/
PID_SERVICE_USER=
PID_SERVICE_PASSWORD=
PID_SUFFIX=SMS
TSM_ENDPOINTS=[]

## GFZ
# WELL_KNOWN_URL=https://login-dev.helmholtz.de/oauth2/.well-known/openid-configuration
# OIDC_USERNAME_CLAIM=eduperson_principal_name
# IDL_URL=https://rz-vm64.gfz-potsdam.de:3000/idl/api/idl
# SMS_IDL_TOKEN=See https://gitlab.hzdr.de/hub-terra/sms/orchestration/-/settings/ci_cd > GFZ_STAGING_IDL_TOKEN
# CV_URL=https://localhost/cv/api/v1
# INSTITUTE=gfz
# IDL_URL=https://webapp.ufz.de/idl
# SMS_IDL_TOKEN=
# TSM_ENDPOINTS=[{"fields": {"name": "GFZ", "url": "https://rz-vm65-dev.gfz-potsdam.de/tsmdl/api/v1"}, "model": "TsmEndpoint", "pk": 1}]

## FZJ
WELL_KNOWN_URL=https://login-dev.helmholtz.de/oauth2/.well-known/openid-configuration
OIDC_USERNAME_CLAIM=eduperson_principal_name
CV_URL=https://localhost/cv/api/v1
INSTITUTE=fzj
TSM_ENDPOINTS=[]

#################
###### CV #######
#################

CV_BASE_URL=cv/
DEBUG=1
SECRET_KEY=jakshdjk64hhgjhg??23312sahckj##
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5433
CORS_ORIGIN_WHITELIST=http://localhost:3000,https://localhost.localdomain:3000,https://rdm-test.intranet.ufz.de,https://webapp-stage.intranet.ufz.de,https://localhost.localdomain
