# Minio
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=minio123

# Set it to False if you are using self signed certificate.
MINIO_SECURE= False

# this name should be identical to the one on the createbuckets container
MINIO_BUCKET_NAME=sms-attachments

# Upload url: docker container name
MINIO_ENDPOINT=minio:9000

# Hostname
# in this example the local host name is changed to "localhost.localdomain"
# vim /etc/hosts
# 127.0.0.1       localhost.localdomain
DOWNLOAD_ENDPOINT=https://localhost.localdomain

# Frontend

BASE_URL=/
NUXT_ENV_RESPONSE_TYPE=id_token
NUXT_ENV_SCOPE=openid profile email
NUXT_ENV_FILTER_PROTOCOL_CLAIMS=false
NUXT_ENV_AUTOMATIC_SILENT_RENEW=false
NUXT_ENV_SILENT_RENEW_INTERVAL=6900000 # 115 minutes in milliseconds
NUXT_ENV_LOAD_USER_INFO=true
STAY_WITH_HTTP=true

## Frontend UFZ

SMS_BACKEND_URL=https://localhost.localdomain/backend/rdm/svm-api/v1
CV_BACKEND_URL=https://localhost.localdomain/cv/api/v1
NUXT_ENV_REDIRECT_URI=https://localhost.localdomain/login-callback
NUXT_ENV_CLIENT_ID=rdmsvm-implicit-flow
NUXT_ENV_AUTHORITY=https://webapp.ufz.de/idp/oidc/v1/
NUXT_ENV_POST_LOGOUT_REDIRECT_URI=https://localhost.localdomain/logout-callback
NUXT_ENV_SILENT_REDIRECT_URI=https://localhost.localdomain/silent-callback


## Frontend GFZ
# NUXT_ENV_SCOPE=profile
# NUXT_ENV_LOAD_USER_IFNO=false
# For the GFZ client ID, check the CI variable GFZ_STAGING_OIDC_CLIENT_IDS on https://gitlab.hzdr.de/hub-terra/sms/backend/-/settings/ci_cd
# and take one of the values
# (the localhost aware one is the on starting with xPKT)
# If you have no access to the CI variables, please ask mhanisch@gfz-potsdam.de, marie.schaeffer@gfz-potsdam.de or nils@gfz-potsdam.de
# NUXT_ENV_CLIENT_ID=xPKT...
# SMS_BACKEND_URL=https://localhost/backend/rdm/svm-api/v1
# CV_BACKEND_URL=https://localhost/cv/api/v1
# NUXT_ENV_REDIRECT_URI=https://localhost/login-callback
# NUXT_ENV_CLIENT_ID=rdmsvm-implicit-flow
# NUXT_ENV_AUTHORITY=https://idp-dev.gfz-potsdam.de/cas/oidc/
# NUXT_ENV_POST_LOGOUT_REDIRECT_URI=https://localhost/logout-callback
# NUXT_ENV_SILENT_REDIRECT_URI=https://localhost/silent-callback