#################
##### MINIO #####
#################
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=minio123

# Set it to False if you are using self signed certificate.
MINIO_SECURE= False

# this name should be identical to the one on the createbuckets container
MINIO_BUCKET_NAME=sms-attachments

# Upload url: docker container name
MINIO_ENDPOINT=minio:9000

# Hostname
# in this example the local host name is changed to "localhost.localdomain"
# vim /etc/hosts
# 127.0.0.1       localhost.localdomain
DOWNLOAD_ENDPOINT=https://localhost.localdomain


###########################
### Frontend & Backend ####
###########################
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
ALLOWED_MIME_TYPES=application/x-abiword,application/x-freearc,application/vnd.amazon.ebook,image/bmp,application/x-bzip,application/x-bzip2,text/csv,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/epub+zip,application/gzip,image/gif,text/html,image/vnd.microsoft.icon,text/calendar,image/jpeg,application/json,application/ld+json,application/vnd.oasis.opendocument.presentation,application/vnd.oasis.opendocument.spreadsheet,application/vnd.oasis.opendocument.text,image/png,application/pdf,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.rar,application/rtf,image/svg+xml,application/x-tar,image/tiff,image/tiff,text/plain,image/webp,application/xhtml+xml,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/xml,application/vnd.mozilla.xul+xml,application/zip,application/x-7z-compressed

#################
### Frontend ####
#################

BASE_URL=/
STAY_WITH_HTTP=true

## Frontend UFZ

NUXT_ENV_SCOPE=openid profile email
SMS_BACKEND_URL=/backend/rdm/svm-api/v1
CV_BACKEND_URL=/cv/api/v1
NUXT_ENV_REDIRECT_URI=https://localhost.localdomain/login-callback
NUXT_ENV_CLIENT_ID=rdmsvm-implicit-flow
NUXT_ENV_AUTHORITY=https://webapp.ufz.de/idp/oidc/v1/auth


## Frontend GFZ

# NUXT_ENV_SCOPE=profile
# For the GFZ client ID, check the CI variable GFZ_STAGING_OIDC_CLIENT_IDS on https://gitlab.hzdr.de/hub-terra/sms/backend/-/settings/ci_cd
# and take one of the values
# (the localhost aware one is the on starting with xPKT)
# If you have no access to the CI variables, please ask mhanisch@gfz-potsdam.de, marie.schaeffer@gfz-potsdam.de or nils@gfz-potsdam.de
# NUXT_ENV_CLIENT_ID=xPKT...
# SMS_BACKEND_URL=https://localhost/backend/rdm/svm-api/v1
# CV_BACKEND_URL=https://localhost/cv/api/v1
# NUXT_ENV_REDIRECT_URI=https://localhost/login-callback
# NUXT_ENV_AUTHORITY=https://idp-dev.gfz-potsdam.de/cas/oidc/authorize
# NUXT_ENV_OIDC_TOKEN=https://idp-dev.gfz-potsdam.de/cas/oidc/accessToken
# NUXT_ENV_OIDC_REFRESH_TOKEN=refresh_token
# NUXT_ENV_OIDC_REFRESH_EXPIRE=28800
# NUXT_ENV_OIDC_RESPONSE_TYPE=code
# NUXT_ENV_OIDC_GRANT_TYPE=authorization_code
# NUXT_ENV_OIDC_CHALLANGE=S256

#################
#### Backend ####
#################

FLASK_DEBUG=1
URL_PREFIX=/backend/rdm/svm-api/v1
APP_SETTINGS=project.config.DevelopmentConfig
ELASTICSEARCH_URL=http://elastic-search:9200
DATABASE_URL=postgresql://postgres:postgres@db:5433/db_dev
DATABASE_TEST_URL=postgresql://postgres:postgres@db:5433/db_test
STATIC_URL=/static/backend

# Keycloak
#WELL_KNOWN_URL=http://keycloak:9090/auth/realms/sms/.well-known/openid-configuration

# Token variable holding unique username
OIDC_USERNAME_CLAIM=sub
# Space separated list of allowed origins for CORS browser feature
HTTP_ORIGINS=https://git.ufz.de http://localhost:5000 http://localhost:3000 http://rdm-test.intranet.ufz.de:5002 https://localhost.localdomain https://localhost

## UFZ
WELL_KNOWN_URL=https://webapp.ufz.de/idp/oidc/v1/.well-known/openid-configuration
# Client ID (Audience)
OIDC_CLIENT_IDS=rdmsvm-implicit-flow

## GFZ
# GFZ IDP
# WELL_KNOWN_URL=https://idp-dev.gfz-potsdam.de/cas/oidc/.well-known/openid-configuration
# Client ID (Audience)
#OIDC_CLIENT_IDS=backend


#################
###### CV #######
#################

CV_BASE_URL=cv/
DEBUG=1
SECRET_KEY=jakshdjk64hhgjhg??23312sahckj##
SQL_ENGINE=django.db.backends.postgresql_psycopg2
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5433
CORS_ORIGIN_WHITELIST=http://localhost:3000,https://localhost.localdomain:3000,https://rdm-test.intranet.ufz.de,https://webapp-stage.intranet.ufz.de,https://localhost.localdomain
