alembic==1.6.5
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cherrypicker==0.3.1
click==8.0.1
coverage==5.5
cryptography==3.4.7
elasticsearch==7.13.2
entrypoints==0.3
environs==9.3.2
Faker==8.8.1
Flask-Cors==3.0.10
Flask-Migrate==3.0.1
Flask-REST-JSONAPI==0.31.2
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask==2.0.1
flask_jwt_extended==4.2.1
future==0.18.2
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.4
MarkupSafe==2.0.1
marshmallow-jsonapi==0.24.0
marshmallow==3.12.1
mccabe==0.6.1
pandas==1.2.5
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pycparser==2.20
pycryptodomex==3.10.1
pyjwkest==1.4.2
PyJWT==2.1.0
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.19
tox-pip-extensions~=1.6.0
urllib3==1.26.5
Werkzeug==2.0.1
stringcase==1.2.0