/*
 * SPDX-FileCopyrightText: 2020 - 2024
 * - Nils Brinckmann <nils.brinckmann@gfz-potsdam.de>
 * - Marc Hanisch <marc.hanisch@gfz-potsdam.de>
 * - Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences (GFZ, https://www.gfz-potsdam.de)
 *
 * SPDX-License-Identifier: EUPL-1.2
 */
@import '~vuetify/src/styles/settings/variables';
@import '~vuetify/src/styles/settings/colors';

label {
  display: block;
  font-size: map-deep-get($headings, 'caption', 'size');
  font-weight: map-deep-get($headings, 'caption', 'weight');
  letter-spacing: map-deep-get($headings, 'caption', 'letter-spacing');
  line-height: map-deep-get($headings, 'caption', 'line-height');
  font-family: map-deep-get($headings, 'caption', 'font-family');
  color: map-get($grey, 'darken-1');
}
