# SPDX-FileCopyrightText: 2020 - 2024
# - Kotyba Alhaj Taha <kotyba.alhaj-taha@ufz.de>
# - Nils Brinckmann <nils.brinckmann@gfz-potsdam.de>
# - Dirk Ecker <d.ecker@fz-juelich.de>
# - Forschungszentrum Jülich GmbH (FZJ, https://fz-juelich.de)
# - Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences (GFZ, https://www.gfz-potsdam.de)
# - Helmholtz Centre for Environmental Research GmbH - UFZ (UFZ, https://www.ufz.de)
#
# SPDX-License-Identifier: EUPL-1.2
alembic==1.18.1
cachetools==6.2.6
certifi==2026.1.4
chardet==5.2.0
cherrypicker==0.4.0
click==8.3.1
coverage==7.13.2
cryptography==46.0.4
elasticsearch==8.15.1
entrypoints==0.4
environs==14.5.0
Faker==40.1.2
Flask-Cors==5.0.0
Flask-Executor==1.0.0
Flask-MQTT==1.3.0
Flask-Migrate==4.0.7
Flask-REST-JSONAPI==0.31.2
Flask-SQLAlchemy==2.5.1  # fixed
Flask-Testing==0.8.1
Flask==2.1.3  # fixed
flask_jwt_extended==4.7.1
future==1.0.0
GeoAlchemy2==0.15.2
gunicorn==24.1.1
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow-jsonapi==0.24.0
marshmallow==3.23.0
mccabe==0.7.0
minio==7.2.20
paho-mqtt==1.6.1
pandas==2.2.3
psycopg2-binary==2.9.11
py-healthcheck==1.10.1
pycodestyle==2.14.0
pycparser==3.0
pycryptodomex==3.23.0
python-dateutil==2.9.0.post0
python-editor==1.0.4
requests==2.32.5
shapely==2.1.2
six==1.17.0
SQLAlchemy-Utils==0.42.1
SQLAlchemy==1.4.54  # fixed
stringcase==1.2.0
tox==4.34.1
Werkzeug==2.3.8  # fixed
xmlschema==1.1.1  # fixed
owslib==0.35.0
