FLASK_DEBUG=1
APP_SETTINGS=project.config.DevelopmentConfig
ELASTICSEARCH_URL=http://elasticsearch:9200
DATABASE_URL=postgresql://postgres:postgres@db:5432/db_dev
WELL_KNOWN_URL=https://webapp.ufz.de/idp/oidc/v1/.well-known/openid-configuration
# Client ID (Audience)
OIDC_CLIENT_ID=rdmsvm-implicit-flow
# Token variable holding unique username
OIDC_USERNAME_CLAIM=sub
# Space separated list of allowed origins for CORS browser feature
HTTP_ORIGINS=https://rdm-test.intranet.ufz.de http://localhost:3000 http://localhost:5000 http://localhost:8000
